.main-c {

    display: flex;
    margin-top: 20px;
    justify-content: center;
    
    
    /* border-radius: 40px; */
    /* border: 1px blue solid; */
    border: none;
    font-size: 24px;
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
}